body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(160 160 160 / 30%);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.dFlexCC {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    padding: 16px 32px;
    align-items: center;
    margin-inline: auto;
    background-color: #f5f1f1;
    box-shadow: -10px 0px 5px 2px #b2a9a9;
}

footer {
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 32px;
    background-color: #f5f1f1;
    box-shadow: -10px 0px 5px 2px #b2a9a9;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    height: 60px;
    transition: ease-in-out;
    transition-duration: 175ms;
}

.logo:hover {
    cursor: pointer;
    scale: 110%;
    transition: ease-in-out;
    transition-duration: 175ms;
}

input {
    height: fit-content;
    padding: 8px;
    border-radius: 100vw;
    border: none;
}

input:focus {
    outline: none;
}

.contentFrame {
    max-width: 1400px;
    margin-inline: auto;
    margin-top: 120px;
    padding-left: 32px;
    padding-right: 32px;
}

h1,
h2,
h3{
    margin: 0;
}

.numberLoaded {
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 8px;
    border-radius: 100vw;
}

#overView {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#pokemonList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.doNotScroll {
    position: fixed;
    overflow: hidden;
}

.card {
    width: 280px;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTitle {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    justify-content: center;
}

.cardTitle p {
    margin-left: 8px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    width: fit-content;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon {
    margin-left: auto;
    transition: ease-in-out;
    transition-duration: 175ms;
}

.closeIcon:hover {
    cursor: pointer;
    scale: 140%;
    transition: ease-in-out;
    transition-duration: 175ms;
}

.card:hover {
    cursor: pointer;
}

.card:hover img {
    scale: 150%;
    transition: ease-in-out;
    transition-duration: 250ms;
}

.card img {
    width: 100px;
    transition: ease-in-out;
    transition-duration: 250ms;
}

#detailBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: grayscale(80%);
    z-index: 666;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailView {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    height: 80%;
    border-radius: 16px;
    z-index: 999;
}

.detailCard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrows {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

.arrows svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.arrows svg:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.imageView {
    height: 50%;
    background-color: #fb6c6c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.pokemonImg {
    aspect-ratio: 1 / 1;
    width: 40%;
    padding-bottom: 16px;
}

.detailContainer {
    background-color: white;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    height: 50%;
    margin-top: -60px;
    padding-top: 16px;
    text-align: center;
    width: 100%;
}

.typeAndImg {
    display: flex;
    gap: 24px;
    align-items: center;
}

.typeAndImgDetailView {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.abilities {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
}

.abilities p {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 12px;
    margin: 0;
}

.type {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 4px;
    border-radius: 12px;
    margin: 0;
    height: fit-content;
    font-size: 14px;
}

.types {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.detailsNav {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 8px;
}

.detailsNav span {
    font-weight: 700;
}

.detailsNav span:hover {
    cursor: pointer;
}

.canvasContainer {
    width: 100%;
    height: 100%;
    padding: 16px;
    position: relative;
}

.d-none {
    display: none !important;
}

button {
    border: none;
    width: fit-content;
    border-radius: 100vw;
    font-size: 24px;
    background-color: #fb6c6c;
    padding: 16px;
}

button:hover {
    cursor: pointer;
    background-color: #fc8b8b;
}

.arrowUp {
    height: 60px;
    margin: 0;
}

.button-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.activeButton {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-left: 32px;
    margin-top: 20px;
}

#about {
    display: flex;
}

.aboutTitle {
    font-weight: 700;
}

.loadAnimation {
    position: relative;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
    border-radius: 50%;
    border: 8px solid black;
    animation: spin 1s linear infinite;
}

.loadAnimation::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100px;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadAnimation::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
}

#imprint {
    background-color: white;
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media(max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    input {
        width: 120px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    .card img {
        width: 70px;
    }

    header {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .contentFrame {
        margin-top: 140px;
    }

    .typeAndImgDetailView {
        flex-direction: column;
    }

    .logo {
        height: 40px;
    }

    .detailCard {
        height: auto;
    }
}

@media(max-height: 650px) { 
                  

    .detailCard {
        flex-direction: row;
    }

    .detailContainer {
        height: 80%;
        border-radius: 0;
        margin: 0;
    }

    .imageView {
        height: 80%;
    }
}